<div class="right">
    <img class="position-img" src="../../../assets/img/mobile/btn-close.svg" (click)="onNoClick()">
</div>

<div class="position">
    <h5 class="title-1">
        Com o que você<br> precisa de ajuda?
    </h5>
    <div class="top">
        <div class="progress-bar-arrow" (click)="noReceiverCode()">
            <h5 class="title-2">Não recebi o código
                <img class="position-img" src="../../../assets/img/iconeFlechaDireita.svg"/>
            </h5>
        </div>
        <h5 class=" line"></h5>
        <div class="progress-bar-arrow" (click)="changePhoneNumber()">
            <h5 class="title-2">Alterar o número de celular
                <img class="position-img" src="../../../assets/img/iconeFlechaDireita.svg"/>
            </h5>
        </div>
        <h5 class=" line"></h5>
    </div>
</div>
