<div>
    <h4>Principais benefícios de ter o seu cartão de crédito Omni</h4> 
    <div class="beneficios-box">
        <app-beneficios-caixa imagem="Omni" texto1="Cartão sem" texto2="anuidade"></app-beneficios-caixa>
        <app-beneficios-caixa imagem="Contact Less" texto1="Pague por" texto2="aproximação"></app-beneficios-caixa>
        <app-beneficios-caixa imagem="Selo Internacional" texto1="Cartão" texto2="Internacional"></app-beneficios-caixa>
        <div style="width: 48%;">

            <div class="box">
                <img [src]="'assets/img/mobile/Visa.svg'">
                <div class="texto">
                    <div>Bandeira Visa</div>
                    <div class="texto2">Aceita em milhares <br>de estabelecimentos</div>
                </div>
            </div>
        </div>
            
    </div>
    <h4>Mais benefícios</h4> 
    <div class="beneficios-box">
        <app-beneficios-caixa imagem="Omni" texto1="Conta digital" texto2="gratuita"></app-beneficios-caixa>
        <app-beneficios-caixa imagem="Pix" texto1="Pix e TEDs" texto2="ilimitados"></app-beneficios-caixa>
        <app-beneficios-caixa imagem="24 horas" texto1="Saque em" texto2="caixa 24h"></app-beneficios-caixa>
        <app-beneficios-caixa imagem="Payments" texto1="Pague contas e" texto2="boletos pelo app"></app-beneficios-caixa>
    </div>
    <div> 
        <button class="botao" (click)="queroCartao()" mat-raised-button >Quero meu cartão de crédito</button> 
    </div>
</div>