<div class="end">
    <div class="end">
        <div class="cause"></div>
        <img class="img" src="../../assets/img/mobile/obrigado.svg"/>
        <h5 class="title">
            Parabéns !
        </h5>
        <p class="text-1">
            Sua conta foi aberta e o seu<br> cartão já está a caminho.
        </p>
        <p class="text-2">
            Para saber mais, fique de olho em<br> seu <span class="bold">E-mail e SMS</span>
        </p>
        <div class="card top">
            <div class="cause-2"></div>
            <p class="text-3">
                Baixe o super app Omni e<br> simplifique o seu dia a dia.
            </p>
            <div class="app-store">
                <a href="https://apps.apple.com/br/app/omni/id1594220960">
                    <img src="assets/img/mobile/AppleBlack.svg" alt="appAplle">
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.omnidigital.omni&hl=pt">
                    <img src="assets/img/mobile/GoogleBlack.svg" alt="appGoogle">
                </a>
            </div>
        </div>
    </div>
</div>
