<app-header></app-header>


<div class="container">
    <div>
        <app-progress-bar [progress]="progress" (onBackBtnClicked)="goBack()"></app-progress-bar>
    </div>
    <h5 class="principal-title">Central de atendimento</h5>
    <h5 class="principal-text">Fale com a gente através dos nossos<br> canais de atendimento abaixo:</h5>

</div>
<div class="card">
    <h5 class="title-card">Central de relacionamento</h5>
    <h5 class="sub-title-card">Segunda-feira a sábado das 8h às 20h.</h5>
    <h5 class="title-number">4004 3500</h5>
    <h5 class="title-sub-number">Capitais e Regiões Metropolitanas</h5>
    <h5 class="title-number">0800 701 3500</h5>
    <h5 class="title-sub-number">Demais Regiões</h5>
</div>

<div class="card">
    <h5 class="title-card">Atendimento a deficientes</h5>
    <h5 class="sub-title-card">Atendimento para todos os produtos,<br>24 horas, 7 dias por semana</h5>
    <h5 class="title-number">0800 888 3588</h5>
    <h5 class="title-sub-number">Auditivos ou de fala</h5>
</div>
