<div class="container footer">
    <img src="assets/img/mobile/Logo Omni.svg" alt="">
    <div class="texto">
        <img src="assets/img/mobile/conectado.svg" alt="">
    </div>
    <div class="texto-endereco">
        <p>Av. São Gabriel, 555 - 1º andar,</p>
        <p>Jardim Paulista, São Paulo - SP</p>
        <p>CEP 01435-001</p>
    </div>
    <div class="icones">
        <a href="https://www.facebook.com/omniconectado/" target="_blank">
            <img src="assets/img/mobile/Facebook Icon.svg" alt="facebook">
        </a>
        <a href="https://www.instagram.com/omniconectado/" target="_blank">
            <img src="assets/img/mobile/Instagram Icon.svg" alt="instagram">
        </a>
        <a href="https://br.linkedin.com/company/omniconectado" target="_blank">
        <img src="assets/img/mobile/Linkedin Icon.svg" alt="linkedin">
        </a>
        <a href="https://www.youtube.com/channel/UCV_E8kaPMgMkByA3AQFbz3g" target="_blank">
            <img src="assets/img/mobile/Youtube Icon.svg" alt="youtube">
        </a>    
    </div>
    <div class="texto-insta">
        <b>@OmniConectado</b>
    </div>
    <div class="texto highlight">
        Central de relacionamento
    </div>
    <div class="texto">
        <p><b>4004 3500</b> Capitais e Regiões Metropolitanas</p>
        <p><b>0800 701 3500</b>  Demais Regiões</p>
    </div>
    <div class="texto">
        <p>Atendimento de segunda-feira a sábado das</p>
        <p>8h às 20h.</p>
    </div>
    <div class="texto highlight">
        SAC
    </div>
    <div class="texto">
        <p><b>0800 727 0885</b></p>
    </div>
    <div class="texto">
        <p>24 horas, 7 dias por semana.</p>
    </div>
    <div class="texto">
        <p>Canal exclusivo para reclamações,</p>
        <p>cancelamentos, dúvidas e informações.</p>
    </div>
    <div class="texto highlight">
         Atendimento a deficientes<br>
         auditivos ou de fala 
    </div>

    <div class="texto">
        <b>0800 888 3588</b>
    </div>
    <div class="texto">
        24 horas, 7 dias por semana.
    </div>
    
    <div class="texto highlight">
        Ouvidoria
    </div>
    <div class="texto">
        <b>0800 701 0412</b>
    </div>
    <div class="texto">
        <p>Segunda a sexta-feira das 9h às 17h</p>
    </div>
    <div class="texto highlight">
        Política de privacidade
    </div>
    <div class="texto">
        <span class="highlight-mini">Acesse aqui </span>nossos termos de uso.
    </div>
        
</div>
