header {
    border-top: 1px solid #F0F0F2;
    border-bottom: 1px solid #F0F0F2;
    padding: 15px 0;
}

header .container {
    padding-left: 28px;
    padding-right: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 