.right{
  float: right;
}


.position {
  margin: 15px 15px 28px 35px;
}

.title-1{
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #3E4149;
}

.title-2{
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #676D79;
}

.title-3{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: -0.02em;
  color: #676D79;
}

.close{
  size: 20px;
  float: right;
  border: none;
  background-color: #F7F7F8;
  border-radius: 50%;
  color: #A4A7AF;
}


