<div class="right">
    <img class="position-img" src="../../../assets/img/mobile/btn-close.svg" (click)="onNoClick()">
</div>

<div class="position">
    <h5 class="title-1">
      Transparência Fiscal:<br>
        FATCA E CRS
    </h5>
    <br>
    <h5 class="title-2">O que é FATCA?
    </h5>
    <h5 class="title-3">
        Lei Norte Americana que visa combater a<br>
        evasão fiscal dos EUA em relação a<br>
        rendimentos e outros ganhos de<br>
        investimentos feitos fora do EUA por<br>
        cidadãos Norte Americados e a cidadãos<br>
        estrangeiros com obrigações fiscais nos<br>
        EUA.

        Tenho obrigação fiscal em outros países se:<br>

        - Possuo nacionalidade,<br> cidadania norte-americada, <br>ou visto, ou em um de seus territórios <br>(Porto Rico, Guam, Samoa Americada);<br>

        - Possuo parentes de <br>primeiro grau que possuem nacionalidade, <br>cidadania norte-americada, ou visto, <br>ou em um de seus territórios <br>(Porto Rico, Guam, Samoa Americada);<br>

        - Estive presente em <br>território americano por mais <br>de 180 (cento e oitenta) dias nos <br>últimos 05 (cinco) anos

    </h5>
</div>
