<app-header></app-header>
<div class="container">

    <img class="position-img" src="../../../../assets/img/mobile/Information.svg">

    <h5 class="principal-title">Nesse momento não<br> conseguimos aprovar<br> sua oferta de crédito</h5>
    <p class="secundario-title">
        Analisamos os dados informados e, neste<br> momento, não podemos seguir com a<br> disponibilização do seu cartão
        de crédito e<br> conta corrente.<br><br>

        Obrigado pelo seu interesse.

    </p>
</div>
