<div>
    <h4 class="super-app">Um Super App pensado pra você, cliente Omni!</h4>
    <div class="container">
        <div class="image">
            <img src="assets/img/mobile/super-app.png">
        </div>
        <p class="descricao">Nosso Super App também tem tudo para gerenciar o seu financiamento</p>
        <div class="download">
            <span>
                Baixe agora:
            </span>
        </div>
        <div class="app-store">
            <a href="https://apps.apple.com/br/app/omni/id1594220960">
                <img src="assets/img/mobile/Apple.svg">
            </a>
            <a href="https://apps.apple.com/br/app/omni/id1594220960">
                <img src="assets/img/mobile/Google.svg">
            </a>
        </div>
    </div>
</div>
